
__pycache__/
*.py[cod]
*.ipynb_checkpoints


.env
.venv/
env/
venv/
clean_twi_ner_env/



.ipynb_checkpoints/
models/xlmr_masakha_baseline/checkpoint-*/
*.safetensors
*.pth



.DS_Store


.vscode/


data/raw/
data/processed/*.csv
data/processed/*.tsv
data/processed/*.json
data/masakha


models/trained_model/
*.pt
*.bin
*.h5


*.log
*.out


Thumbs.db
